@tailwind base;
@tailwind components;
@tailwind utilities;

body.prevent-scroll {
  @apply overflow-hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-lightSecondary rounded-full;
}

::-webkit-scrollbar-corner {
  @apply bg-opacity-0;
}

/* Selection */
/*   ::selection {
      @apply bg-primary;
    } */

h1 {
  @apply text-4xl font-medium;
}

h2 {
  @apply text-3xl font-medium;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

/*Icon Style*/
.icon-sm {
  @apply h-5 w-5 !important;
}

.icon-md {
  @apply h-5 w-5 !important;
}

.icon-lg {
  @apply h-6 w-6 !important;
}

.button {
  @apply inline-block text-center px-3 py-2 rounded-lg max-w-md transition-colors;
}

.button-rounded {
  @apply rounded-full !important;
}

.button > svg {
  @apply mr-1 icon-sm inline-block;
}

.button-block {
  @apply block w-full mx-auto;
}

.button-primary {
  @apply text-white bg-primary hover:bg-darkPrimary;
}

.button-secondary {
  @apply text-primary hover:text-white bg-light2 hover:bg-primary ring-primary ring-2 ring-inset;
}

.button-transparent {
  @apply text-dark3 bg-transparent hover:bg-lightSecondary;
}

.button-light {
  @apply bg-light1 hover:bg-light2;
}

.button-danger {
  @apply text-white bg-danger hover:bg-darkDanger;
}

.button-success {
  @apply text-white bg-success hover:bg-darkSuccess;
}

.button-icon {
  @apply flex p-0 rounded-lg transition-colors;
}

.button-icon div {
  @apply w-full h-full flex;
}

.button-icon > svg,
.button-icon div > svg {
  @apply block m-auto;
}

.button-icon-lg {
  @apply h-14 w-14;
  min-width: 3.5rem;
}

.button-icon-lg svg {
  @apply icon-lg;
}

.button-icon-md {
  @apply h-10 w-10;
  min-width: 2.5rem;
}

.button-icon-md svg {
  @apply icon-md;
}

.button-icon-sm {
  @apply h-7 w-7;
  min-width: 1.75rem;
}

.button-icon-sm svg {
  @apply icon-sm;
}

input,
.input__search {
  @apply p-1 mt-1 w-full border-2 rounded-md shadow-sm focus:outline-none text-sm;
}

button {
  @apply p-1 mt-1 w-full border-2 rounded-md shadow-sm focus:outline-none text-sm h-8 bg-primary text-white;
}

.sidebar:not(.active) {
  @apply pointer-events-none;
}

.sidebar,
.fullscreen-overlay {
  @apply fixed left-0 top-0 w-screen h-screen flex z-20;
}

.sidebar-backdrop,
.backdrop {
  @apply bg-black w-full h-full opacity-60 absolute cursor-pointer;
}

.sidebar-content {
  @apply w-3/4 max-w-xs bg-white h-full z-10 overflow-x-scroll;
}

.sidebar-link {
  @apply flex items-center w-full text-2xl bg-light hover:bg-darkPrimary hover:text-light transition-colors py-5 px-10;
}

.sidebar-link > svg {
  @apply icon-md mr-2;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(-100%) !important;
}

.slide-enter-active,
.slide-leave-active {
  @apply transition-transform !important;
}

.card {
  @apply p-5 w-52 h-24 bg-primary rounded-md cursor-pointer;
}

.card:not(.card:first-child) {
  @apply ml-2;
}

.card-content {
  @apply grid grid-rows-2;
}

.card-content > * {
  @apply mx-auto text-white;
}

.card-content > h1 {
  @apply font-bold text-4xl;
}

.card:nth-child(1) {
  @apply bg-orange;
}

.card:nth-child(2) {
  @apply bg-blue;
}

.card:nth-child(3) {
  @apply bg-red;
}

.table,
.tab,
.active__tab {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table {
  @apply table-fixed;
}
td {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.tab,
.active__tab {
  @apply border-t border-l w-fit rounded-t-md border-r p-2 mr-1 z-10 cursor-pointer;
}

.active__tab {
  @apply border-t-darkInfo border-l-darkInfo border-r-darkInfo bg-white text-black;
}

.tab {
  @apply bg-transparent text-darkInfo  border-t-transparent border-l-transparent border-r-transparent  hover:bg-brown;
}
